html,body{width:100%;height:100%;padding: 0;margin: 0;overflow: hidden;font-family:"Arial",sans-serif;background:#232323;}
.head{position:fixed;z-index:2;display:inline-block;height:30px; top:0px;left:0px;background-color:#232323}
.home{top:50%;position:fixed;z-index:1;display:inline-block;right:-30px;height:100%;background-color:#232323;text-align: center;}
.alrm{position:fixed;left:40%;top:50%;z-index:1;display:inline-block;background-color:#232323;text-align: center;color:red;}
.col{position:fixed;width: 100%;left:0%;color: #00ff30;background:#232323;height:30px; top:0px;font-size:10px;text-align: left;}
.col0{position:fixed;width: 30%;left:50%;color: lightgray;background:#232323;height:30px; top:0px;font-size:10px;text-align: left;}
.col1{position:fixed;width: 30%;left:0%;color: lightgray;background:#232323;height:30px; top:0px;font-size:10px;text-align: left;}
.col2{position:fixed;width: 30%;left:70%;color: lightgray;background:#232323;height:30px; top:0px;font-size:10px;text-align: right;}
.top {position:fixed;z-index:2;display:inline-block;height:30px;top:30px;left:0px;background-color:#232323;}
.top table{table-layout: fixed;height:100%;}
.bot {position:absolute;z-index:1;padding-bottom: 25px;right:-30px;left:0px;top:60px;background: #232323;color:#4D4D4D;}
.bot table{table-layout: fixed;width: 100%;}
.tmp {position: absolute;left: 0;top: 60px;right:-30px;bottom: 25px;padding-right: 15px;overflow-y: scroll;}
.tmp table{table-layout: fixed;width: 100%;}
#left{position:absolute;top:50%;}
#center{position:absolute;top:50%;left:0px;}
#right{position:absolute;top:50%;right:0px;}
#home{color:#00ff30;font-family:"Arial",sans-serif;font-size:18px;}
#tbl {font-size:10px;background:#fff;border-collapse:collapse;text-align:left;width: 100%;}
#tbl th{font-size:10px;text-align:left;color:lightgray;background: #4D4D4D; border-right: 1px solid lightgray; padding-top:5px;padding-bottom:5px;}
#tbl td{font-size:10px;text-align:left;color:#4d4d4d;background: #fff; border-bottom: 1px solid #4d4d4d;border-right:1px solid #4d4d4d;padding-top:2px;padding-bottom:2px;}
#tbl tr:hover td{color:black;background: #c7c7c7;background-clip: padding-box; border-bottom: 1px solid #4d4d4d;}

#id{width: 20px;padding-left: 5px;}
#sw{width: 20px;padding-left: 5px;}
#hi{width: 30px;padding-left: 5px;}
#na{width: 70px;padding-left: 5px;}
#nb{width: 70px;padding-left: 5px;}
#ds{width: 70px;padding-left: 5px;}
#de{width: 70px;padding-left: 5px;}
#dr{width: 25px;padding-left: 5px;}
#ot{width: 25px;padding-left: 5px;}
#it{width: 25px;padding-left: 5px;}
#du{width: 25px;padding-left: 5px;}

#tbl #du th td {border-right:0px;}
.head #du th td {border-right:0px;}
input[type="text"]{outline:none;border:0px;color:#fff;background: transparent;font-size:12px;font-family:"Arial",sans-serif;}
.foot{position:fixed;z-index:2;padding:0px;right:-30px;height: 25px;bottom: 0px; background: #232323;color:#4D4D4D;}
.boot{position:fixed;z-index:2;padding:0px;left:42%;height: 25px;bottom: 0px;border: none;outline:none;}
ul.tab {list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #232323; border: none;outline:none;}
ul.tab li {float: left;border: none;outline:none;}
ul.tab li a {font-family: Arial;display: inline-block;color: gray;text-align: center;padding: 0px 10px;text-decoration: none;transition: 0.3s;font-size: 10px;border: none;outline:none;}
ul.tab li a:hover {background-color: #232323;color:lightgray;border: none;outline:none;}
ul.tab li a:focus, .active {background-color: #232323;color: white;font-weight:bold;border: none;outline:none;}

