{{define "call"}}
<!DOCTYPE html>
<html><head>
	<title>ES11:calls</title>
	<link rel="stylesheet" type="text/css" href="css/form.css"/>
	<script type="text/javascript" src="css/stat.js"></script>
	<meta charset="UTF-8">
	<script>
	    window.onkeypress = function(e) {
	    var f0 = document.getElementById('f0');
	    if ((e.which || e.keyCode) == 13) {
		window.history.go(-1);
	    }
	}
</script>
	</head>
	<body>
	<div class="head">
	<div class="col0"><span id="center">ES11</span></div>
	<div class="col1"><span id="left">Кількість записів: {{.Rcn}}</span></div>
	<div class="col2"><span id="right">Тривалість запиту: {{.Rdr}} сек.</span></div>
	</div>
   <div class=top>
    <table id="tbl">
       <th id="id">№</th><th id="sw">Ст.</th><th id="hi">Кат. А</th><th id="na">Номер А</th><th id="nb">Номер Б</th>
       <th id="ds">Дата початку</th><th id="de">Дата кінця</th><th id="dr">Напр.</th><th id="it">Вх.ТГ</th><th id="ot">Вих.ТГ</th>
       <th id="du" style="border-right:0;">Сек.</th>
   </table>
  </div>
 </div>
    <div class="tmp">
	<table id="tbl">
	{{range .Rec}}
	<tr><td id="id">{{.Id}}</td><td id="sw">{{.Sw}}</td><td id="hi">{{.Hi}}</td><td id="na">{{.Na}}</td>
	    <td id="nb">{{.Nb}}</td><td id="ds">{{.Ds}}</td><td id="de">{{.De}}</td><td id="dr">{{.Dr}}</td>
			<td id="it">{{.It}}</td><td id="ot">{{.Ot}}</td><td id="du" style="border-right:0;">{{.Du}}</td></tr>
	{{end}}
	</table></div>
    <div class="boot">
    <ul class="tab">
    <li><a href="/fess" class="tablinks">5ESS</a></li>
    <li><a href="/si2k" class="tablinks">SI2K</a></li>
    <li><a href="/es11" class="tablinks">ES11</a></li>
    </ul>
    </div>
</body></html>
{{end}}