{{define "head"}}
<!DOCTYPE html>
<html><head>
	<title>ES11:calls</title>
	<link rel="stylesheet" type="text/css" href="css/form.css"/>
	<meta charset="UTF-8">
	</head>
	<body>
	<div class="head"><h1>{{.}}</h1></div>
   <div class=top>
    <table id="tbl">
       <th id="id">Id</th><th id="sw">Sw</th><th id="hi">Hi</th><th id="na">Na</th><th id="nb">Nb</th>
       <th id="ds">Ds</th><th id="de">De</th><th id="dr">Dr</th><th id="it">It</th><th id="ot">Ot</th><th id="du">Du</th>
   </table>
  </div>
 </div>
</body></html>
{{end}}
